# Create Storm Events Database File
Clean data, converting to Parquet format and create a DuckDB database file.  

Author: Mark Bauer

In [1]:
import os
import ibis
import duckdb

ibis.options.interactive = True

In [2]:
%reload_ext watermark
%watermark -v -p duckdb,ibis

Python implementation: CPython
Python version       : 3.8.13
IPython version      : 8.4.0

duckdb: 0.10.0
ibis  : 3.2.0

In [3]:
# preview file names
!ls data/raw/ | head -n 5

StormEvents_details-ftp_v1.0_d1950_c20210803.csv.gz
StormEvents_details-ftp_v1.0_d1951_c20210803.csv.gz
StormEvents_details-ftp_v1.0_d1952_c20210803.csv.gz
StormEvents_details-ftp_v1.0_d1953_c20210803.csv.gz
StormEvents_details-ftp_v1.0_d1954_c20210803.csv.gz

In [4]:
# create a DuckDB database instance
con = duckdb.connect()

# create table of the storm_events data, glob files together
# take note on all_varchar and ignore_errors parameters
con.sql(
    """
    CREATE TABLE storm_events AS
    FROM read_csv('data/raw/*.csv.gz', all_varchar=True, ignore_errors=True)
    """
)

# examine count of rows
con.sql("SELECT COUNT(*) AS count_rows FROM storm_events").show()

┌────────────┐
│ count_rows │
│   int64    │
├────────────┤
│    1870438 │
└────────────┘

In [5]:
# examine column metadata and assign as a pandas df
describe_df = con.sql("DESCRIBE storm_events").df()

describe_df

           column_name column_type null   key default extra
0      BEGIN_YEARMONTH     VARCHAR  YES  None    None  None
1            BEGIN_DAY     VARCHAR  YES  None    None  None
2           BEGIN_TIME     VARCHAR  YES  None    None  None
3        END_YEARMONTH     VARCHAR  YES  None    None  None
4              END_DAY     VARCHAR  YES  None    None  None
5             END_TIME     VARCHAR  YES  None    None  None
6           EPISODE_ID     VARCHAR  YES  None    None  None
7             EVENT_ID     VARCHAR  YES  None    None  None
8                STATE     VARCHAR  YES  None    None  None
9           STATE_FIPS     VARCHAR  YES  None    None  None
10                YEAR     VARCHAR  YES  None    None  None
11          MONTH_NAME     VARCHAR  YES  None    None  None
12          EVENT_TYPE     VARCHAR  YES  None    None  None
13             CZ_TYPE     VARCHAR  YES  None    None  None
14             CZ_FIPS     VARCHAR  YES  None    None  None
15             CZ_NAME     VARCHAR  YES  None    None  None
16                 WFO     VARCHAR  YES  None    None  None
17     BEGIN_DATE_TIME     VARCHAR  YES  None    None  None
18         CZ_TIMEZONE     VARCHAR  YES  None    None  None
19       END_DATE_TIME     VARCHAR  YES  None    None  None
20     INJURIES_DIRECT     VARCHAR  YES  None    None  None
21   INJURIES_INDIRECT     VARCHAR  YES  None    None  None
22       DEATHS_DIRECT     VARCHAR  YES  None    None  None
23     DEATHS_INDIRECT     VARCHAR  YES  None    None  None
24     DAMAGE_PROPERTY     VARCHAR  YES  None    None  None
25        DAMAGE_CROPS     VARCHAR  YES  None    None  None
26              SOURCE     VARCHAR  YES  None    None  None
27           MAGNITUDE     VARCHAR  YES  None    None  None
28      MAGNITUDE_TYPE     VARCHAR  YES  None    None  None
29         FLOOD_CAUSE     VARCHAR  YES  None    None  None
30            CATEGORY     VARCHAR  YES  None    None  None
31         TOR_F_SCALE     VARCHAR  YES  None    None  None
32          TOR_LENGTH     VARCHAR  YES  None    None  None
33           TOR_WIDTH     VARCHAR  YES  None    None  None
34       TOR_OTHER_WFO     VARCHAR  YES  None    None  None
35  TOR_OTHER_CZ_STATE     VARCHAR  YES  None    None  None
36   TOR_OTHER_CZ_FIPS     VARCHAR  YES  None    None  None
37   TOR_OTHER_CZ_NAME     VARCHAR  YES  None    None  None
38         BEGIN_RANGE     VARCHAR  YES  None    None  None
39       BEGIN_AZIMUTH     VARCHAR  YES  None    None  None
40      BEGIN_LOCATION     VARCHAR  YES  None    None  None
41           END_RANGE     VARCHAR  YES  None    None  None
42         END_AZIMUTH     VARCHAR  YES  None    None  None
43        END_LOCATION     VARCHAR  YES  None    None  None
44           BEGIN_LAT     VARCHAR  YES  None    None  None
45           BEGIN_LON     VARCHAR  YES  None    None  None
46             END_LAT     VARCHAR  YES  None    None  None
47             END_LON     VARCHAR  YES  None    None  None
48   EPISODE_NARRATIVE     VARCHAR  YES  None    None  None
49     EVENT_NARRATIVE     VARCHAR  YES  None    None  None
50         DATA_SOURCE     VARCHAR  YES  None    None  None

In [6]:
# calculate summary statistics of each column
summarize_df = con.sql("SUMMARIZE storm_events").df()

summarize_df

,column_name,column_type,min,max,approx_unique,avg,std,q25,q50,q75,count,null_percentage
0,BEGIN_YEARMONTH,VARCHAR,195001,202402,893,NaN,NaN,NaN,NaN,NaN,1870438,0.00
1,BEGIN_DAY,VARCHAR,1,9,31,NaN,NaN,NaN,NaN,NaN,1870438,0.00
2,BEGIN_TIME,VARCHAR,0,959,1413,NaN,NaN,NaN,NaN,NaN,1870438,0.00
3,END_YEARMONTH,VARCHAR,195001,202402,893,NaN,NaN,NaN,NaN,NaN,1870438,0.00
4,END_DAY,VARCHAR,1,9,31,NaN,NaN,NaN,NaN,NaN,1870438,0.00
5,END_TIME,VARCHAR,0,959,1413,NaN,NaN,NaN,NaN,NaN,1870438,0.00
6,EPISODE_ID,VARCHAR,1,99999,371735,NaN,NaN,NaN,NaN,NaN,1870438,12.42
7,EVENT_ID,VARCHAR,10,9999999,1835169,NaN,NaN,NaN,NaN,NaN,1870438,0.00
8,STATE,VARCHAR,ALABAMA,WYOMING,70,NaN,NaN,NaN,NaN,NaN,1870438,0.00
9,STATE_FIPS,VARCHAR,1,99,70,NaN,NaN,NaN,NaN,NaN,1870438,0.00
10,YEAR,VARCHAR,1950,2024,75,NaN,NaN,NaN,NaN,NaN,1870438,0.00
11,MONTH_NAME,VARCHAR,April,September,12,NaN,NaN,NaN,NaN,NaN,1870438,0.00
12,EVENT_TYPE,VARCHAR,Astronomical Low Tide,Winter Weather,71,NaN,NaN,NaN,NaN,NaN,1870438,0.00
13,CZ_TYPE,VARCHAR,C,Z,3,NaN,NaN,NaN,NaN,NaN,1870438,0.00
14,CZ_FIPS,VARCHAR,0,99,657,NaN,NaN,NaN,NaN,NaN,1870438,0.00
15,CZ_NAME,VARCHAR,5NM E OF FAIRPORT MI TO ROCK ISLAND PASSAGE,Ziebach,5804,NaN,NaN,NaN,NaN,NaN,1870438,0.08
16,WFO,VARCHAR,$AC,YUM,539,NaN,NaN,NaN,NaN,NaN,1870438,6.71
17,BEGIN_DATE_TIME,VARCHAR,01-APR-00 00:00:00,31-OCT-99 23:30:00,1019222,NaN,NaN,NaN,NaN,NaN,1870438,0.00
18,CZ_TIMEZONE,VARCHAR,AKST-9,UNK,28,NaN,NaN,NaN,NaN,NaN,1870438,0.00
19,END_DATE_TIME,VARCHAR,01-APR-00 00:05:00,31-OCT-99 23:59:00,1004330,NaN,NaN,NaN,NaN,NaN,1870438,0.00
20,INJURIES_DIRECT,VARCHAR,0,98,202,NaN,NaN,NaN,NaN,NaN,1870438,0.00
21,INJURIES_INDIRECT,VARCHAR,0,90,63,NaN,NaN,NaN,NaN,NaN,1870438,0.00
22,DEATHS_DIRECT,VARCHAR,0,97,58,NaN,NaN,NaN,NaN,NaN,1870438,0.00
23,DEATHS_INDIRECT,VARCHAR,0,9,17,NaN,NaN,NaN,NaN,NaN,1870438,0.00
24,DAMAGE_PROPERTY,VARCHAR,.01K,K,3091,NaN,NaN,NaN,NaN,NaN,1870438,30.75
25,DAMAGE_CROPS,VARCHAR,.01K,M,1530,NaN,NaN,NaN,NaN,NaN,1870438,36.58
26,SOURCE,VARCHAR,911 Call Center,WLON,75,NaN,NaN,NaN,NaN,NaN,1870438,17.86
27,MAGNITUDE,VARCHAR,.00,999,639,NaN,NaN,NaN,NaN,NaN,1870438,42.63
28,MAGNITUDE_TYPE,VARCHAR,E,MS,6,NaN,NaN,NaN,NaN,NaN,1870438,73.83
29,FLOOD_CAUSE,VARCHAR,Dam / Levee Break,Planned Dam Release,7,NaN,NaN,NaN,NaN,NaN,1870438,94.02
30,CATEGORY,VARCHAR,1,5,5,NaN,NaN,NaN,NaN,NaN,1870438,99.97
31,TOR_F_SCALE,VARCHAR,EF0,F5,13,NaN,NaN,NaN,NaN,NaN,1870438,96.02
32,TOR_LENGTH,VARCHAR,.1,96.7,2221,NaN,NaN,NaN,NaN,NaN,1870438,85.51
33,TOR_WIDTH,VARCHAR,.1,990,470,NaN,NaN,NaN,NaN,NaN,1870438,85.51
34,TOR_OTHER_WFO,VARCHAR,ABQ,VEF,91,NaN,NaN,NaN,NaN,NaN,1870438,99.83
35,TOR_OTHER_CZ_STATE,VARCHAR,AL,WY,42,NaN,NaN,NaN,NaN,NaN,1870438,99.83
36,TOR_OTHER_CZ_FIPS,VARCHAR,001,820,200,NaN,NaN,NaN,NaN,NaN,1870438,99.83
37,TOR_OTHER_CZ_NAME,VARCHAR,ACADIA,YUMA,916,NaN,NaN,NaN,NaN,NaN,1870438,99.83
38,BEGIN_RANGE,VARCHAR,0,99,163,NaN,NaN,NaN,NaN,NaN,1870438,44.82
39,BEGIN_AZIMUTH,VARCHAR,E,to,29,NaN,NaN,NaN,NaN,NaN,1870438,56.51
40,BEGIN_LOCATION,VARCHAR,& Butler Road,western part,62801,NaN,NaN,NaN,NaN,NaN,1870438,43.33
41,END_RANGE,VARCHAR,0,99,159,NaN,NaN,NaN,NaN,NaN,1870438,44.83
42,END_AZIMUTH,VARCHAR,E,to,19,NaN,NaN,NaN,NaN,NaN,1870438,57.20
43,END_LOCATION,VARCHAR,(01R)AFB GNRY RNG AL,windows were blown ou,52261,NaN,NaN,NaN,NaN,NaN,1870438,45.43
44,BEGIN_LAT,VARCHAR,-14.1326,97.1,127005,NaN,NaN,NaN,NaN,NaN,1870438,38.76
45,BEGIN_LON,VARCHAR,-100,171.3661,172806,NaN,NaN,NaN,NaN,NaN,1870438,38.76
46,END_LAT,VARCHAR,-14.1,97.1,133402,NaN,NaN,NaN,NaN,NaN,1870438,48.25
47,END_LON,VARCHAR,-100,171.3661,190005,NaN,NaN,NaN,NaN,NaN,1870438,48.25
48,EPISODE_NARRATIVE,VARCHAR,"""Black ice"" caused at least 15 traffic acciden...",winds knocked out power lines...heavy rain and...,238905,NaN,NaN,NaN,NaN,NaN,1870438,25.41
49,EVENT_NARRATIVE,VARCHAR,!5th Avenue and 61st Street,|Up to one and a half inches of rain fell over...,850949,NaN,NaN,NaN,NaN,NaN,1870438,46.39
50,DATA_SOURCE,VARCHAR,CSV,PUB,4,NaN,NaN,NaN,NaN,NaN,1870438,0.00

In [7]:
# preview data
sample_df = con.sql("SELECT * FROM storm_events LIMIT 20").df()

sample_df

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,195004,28,1445,195004,28,1445,None,10096222,OKLAHOMA,40,...,0,None,None,35.12,-99.20,35.17,-99.20,None,None,PUB
1,195004,29,1530,195004,29,1530,None,10120412,TEXAS,48,...,0,None,None,31.90,-98.60,31.73,-98.60,None,None,PUB
2,195007,5,1800,195007,5,1800,None,10104927,PENNSYLVANIA,42,...,0,None,None,40.58,-75.70,40.65,-75.47,None,None,PUB
3,195007,5,1830,195007,5,1830,None,10104928,PENNSYLVANIA,42,...,0,None,None,40.60,-76.75,None,None,None,None,PUB
4,195007,24,1440,195007,24,1440,None,10104929,PENNSYLVANIA,42,...,0,None,None,41.63,-79.68,None,None,None,None,PUB
5,195008,29,1600,195008,29,1600,None,10104930,PENNSYLVANIA,42,...,0,None,None,40.22,-75.00,None,None,None,None,PUB
6,195011,4,1700,195011,4,1700,None,10104931,PENNSYLVANIA,42,...,0,None,None,40.20,-76.12,40.27,-76.07,None,None,PUB
7,195011,4,1730,195011,4,1730,None,10104932,PENNSYLVANIA,42,...,0,None,None,40.27,-76.07,40.40,-75.93,None,None,PUB
8,195009,15,1745,195009,15,1745,None,10099490,OKLAHOMA,40,...,0,None,None,35.00,-96.25,35.07,-96.17,None,None,PUB
9,195009,16,130,195009,16,130,None,10099491,OKLAHOMA,40,...,0,None,None,34.83,-95.85,None,None,None,None,PUB
10,195010,1,2100,195010,1,2100,None,10099492,OKLAHOMA,40,...,0,None,None,36.73,-102.52,36.88,-102.30,None,None,PUB
11,195006,22,2100,195006,22,2100,None,10073785,NEBRASKA,31,...,0,None,None,40.18,-98.03,40.20,-97.98,None,None,PUB
12,195002,27,1020,195002,27,1020,None,10096216,OKLAHOMA,40,...,0,None,None,35.55,-97.60,None,None,None,None,PUB
13,195003,27,300,195003,27,300,None,10096217,OKLAHOMA,40,...,0,None,None,34.85,-95.75,None,None,None,None,PUB
14,195004,2,1800,195004,2,1800,None,10096218,OKLAHOMA,40,...,0,None,None,35.82,-97.02,None,None,None,None,PUB
15,195004,3,1615,195004,3,1615,None,10096219,OKLAHOMA,40,...,0,None,None,36.13,-95.83,None,None,None,None,PUB
16,195004,28,1417,195004,28,1417,None,10096220,OKLAHOMA,40,...,0,None,None,34.88,-99.28,35.00,-99.20,None,None,PUB
17,195004,28,1435,195004,28,1435,None,10096221,OKLAHOMA,40,...,0,None,None,35.00,-99.20,35.12,-99.20,None,None,PUB
18,195004,28,1905,195004,28,1905,None,10096223,OKLAHOMA,40,...,0,None,None,35.08,-96.40,35.13,-96.35,None,None,PUB
19,195004,28,1930,195004,28,1930,None,10096224,OKLAHOMA,40,...,0,None,None,34.55,-96.20,None,None,None,None,PUB

In [8]:
# there are too many columns to fit on the screen, so page through them 15 at a time
sample_df.iloc[:, :15]

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,YEAR,MONTH_NAME,EVENT_TYPE,CZ_TYPE,CZ_FIPS
0,195004,28,1445,195004,28,1445,None,10096222,OKLAHOMA,40,1950,April,Tornado,C,149
1,195004,29,1530,195004,29,1530,None,10120412,TEXAS,48,1950,April,Tornado,C,93
2,195007,5,1800,195007,5,1800,None,10104927,PENNSYLVANIA,42,1950,July,Tornado,C,77
3,195007,5,1830,195007,5,1830,None,10104928,PENNSYLVANIA,42,1950,July,Tornado,C,43
4,195007,24,1440,195007,24,1440,None,10104929,PENNSYLVANIA,42,1950,July,Tornado,C,39
5,195008,29,1600,195008,29,1600,None,10104930,PENNSYLVANIA,42,1950,August,Tornado,C,17
6,195011,4,1700,195011,4,1700,None,10104931,PENNSYLVANIA,42,1950,November,Tornado,C,71
7,195011,4,1730,195011,4,1730,None,10104932,PENNSYLVANIA,42,1950,November,Tornado,C,11
8,195009,15,1745,195009,15,1745,None,10099490,OKLAHOMA,40,1950,September,Tornado,C,63
9,195009,16,130,195009,16,130,None,10099491,OKLAHOMA,40,1950,September,Tornado,C,121
10,195010,1,2100,195010,1,2100,None,10099492,OKLAHOMA,40,1950,October,Tornado,C,25
11,195006,22,2100,195006,22,2100,None,10073785,NEBRASKA,31,1950,June,Tornado,C,129
12,195002,27,1020,195002,27,1020,None,10096216,OKLAHOMA,40,1950,February,Tornado,C,109
13,195003,27,300,195003,27,300,None,10096217,OKLAHOMA,40,1950,March,Tornado,C,121
14,195004,2,1800,195004,2,1800,None,10096218,OKLAHOMA,40,1950,April,Tornado,C,81
15,195004,3,1615,195004,3,1615,None,10096219,OKLAHOMA,40,1950,April,Tornado,C,143
16,195004,28,1417,195004,28,1417,None,10096220,OKLAHOMA,40,1950,April,Tornado,C,75
17,195004,28,1435,195004,28,1435,None,10096221,OKLAHOMA,40,1950,April,Tornado,C,75
18,195004,28,1905,195004,28,1905,None,10096223,OKLAHOMA,40,1950,April,Tornado,C,63
19,195004,28,1930,195004,28,1930,None,10096224,OKLAHOMA,40,1950,April,Tornado,C,29

In [9]:
sample_df.iloc[:, 15:30]

,CZ_NAME,WFO,BEGIN_DATE_TIME,CZ_TIMEZONE,END_DATE_TIME,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,SOURCE,MAGNITUDE,MAGNITUDE_TYPE,FLOOD_CAUSE
0,WASHITA,None,28-APR-50 14:45:00,CST,28-APR-50 14:45:00,0,0,0,0,250K,0,None,0,None,None
1,COMANCHE,None,29-APR-50 15:30:00,CST,29-APR-50 15:30:00,0,0,0,0,25K,0,None,0,None,None
2,LEHIGH,None,05-JUL-50 18:00:00,CST,05-JUL-50 18:00:00,2,0,0,0,25K,0,None,0,None,None
3,DAUPHIN,None,05-JUL-50 18:30:00,CST,05-JUL-50 18:30:00,0,0,0,0,2.5K,0,None,0,None,None
4,CRAWFORD,None,24-JUL-50 14:40:00,CST,24-JUL-50 14:40:00,0,0,0,0,2.5K,0,None,0,None,None
5,BUCKS,None,29-AUG-50 16:00:00,CST,29-AUG-50 16:00:00,0,0,0,0,2.5K,0,None,0,None,None
6,LANCASTER,None,04-NOV-50 17:00:00,CST,04-NOV-50 17:00:00,1,0,0,0,250K,0,None,0,None,None
7,BERKS,None,04-NOV-50 17:30:00,CST,04-NOV-50 17:30:00,0,0,0,0,250K,0,None,0,None,None
8,HUGHES,None,15-SEP-50 17:45:00,CST,15-SEP-50 17:45:00,6,0,0,0,250K,0,None,0,None,None
9,PITTSBURG,None,16-SEP-50 01:30:00,CST,16-SEP-50 01:30:00,0,0,0,0,.25K,0,None,0,None,None
10,CIMARRON,None,01-OCT-50 21:00:00,CST,01-OCT-50 21:00:00,0,0,0,0,25K,0,None,0,None,None
11,NUCKOLLS,None,22-JUN-50 21:00:00,CST,22-JUN-50 21:00:00,0,0,0,0,0K,0,None,0,None,None
12,OKLAHOMA,None,27-FEB-50 10:20:00,CST,27-FEB-50 10:20:00,0,0,0,0,25K,0,None,0,None,None
13,PITTSBURG,None,27-MAR-50 03:00:00,CST,27-MAR-50 03:00:00,0,0,0,0,2.5K,0,None,0,None,None
14,LINCOLN,None,02-APR-50 18:00:00,CST,02-APR-50 18:00:00,0,0,0,0,25K,0,None,0,None,None
15,TULSA,None,03-APR-50 16:15:00,CST,03-APR-50 16:15:00,0,0,0,0,2.5K,0,None,0,None,None
16,KIOWA,None,28-APR-50 14:17:00,CST,28-APR-50 14:17:00,1,0,1,0,250K,0,None,0,None,None
17,KIOWA,None,28-APR-50 14:35:00,CST,28-APR-50 14:35:00,0,0,0,0,250K,0,None,0,None,None
18,HUGHES,None,28-APR-50 19:05:00,CST,28-APR-50 19:05:00,32,0,5,0,250K,0,None,0,None,None
19,COAL,None,28-APR-50 19:30:00,CST,28-APR-50 19:30:00,0,0,0,0,25K,0,None,0,None,None

In [10]:
sample_df.iloc[:, 30:45]

,CATEGORY,TOR_F_SCALE,TOR_LENGTH,TOR_WIDTH,TOR_OTHER_WFO,TOR_OTHER_CZ_STATE,TOR_OTHER_CZ_FIPS,TOR_OTHER_CZ_NAME,BEGIN_RANGE,BEGIN_AZIMUTH,BEGIN_LOCATION,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT
0,None,F3,3.4,400,None,None,None,None,0,None,None,0,None,None,35.12
1,None,F1,11.5,200,None,None,None,None,0,None,None,0,None,None,31.90
2,None,F2,12.9,33,None,None,None,None,0,None,None,0,None,None,40.58
3,None,F2,0,13,None,None,None,None,0,None,None,0,None,None,40.60
4,None,F0,0,33,None,None,None,None,0,None,None,0,None,None,41.63
5,None,F1,1,33,None,None,None,None,0,None,None,0,None,None,40.22
6,None,F3,4.7,100,None,None,None,None,0,None,None,0,None,None,40.20
7,None,F3,11.2,100,None,None,None,None,0,None,None,0,None,None,40.27
8,None,F2,6.8,100,None,None,None,None,0,None,None,0,None,None,35.00
9,None,F0,0,33,None,None,None,None,0,None,None,0,None,None,34.83
10,None,F1,15.8,33,None,None,None,None,0,None,None,0,None,None,36.73
11,None,F0,1.9,33,None,None,None,None,0,None,None,0,None,None,40.18
12,None,F2,2,50,None,None,None,None,0,None,None,0,None,None,35.55
13,None,F2,.1,77,None,None,None,None,0,None,None,0,None,None,34.85
14,None,F2,1,100,None,None,None,None,0,None,None,0,None,None,35.82
15,None,F1,1,33,None,None,None,None,0,None,None,0,None,None,36.13
16,None,F3,9.4,400,None,None,None,None,0,None,None,0,None,None,34.88
17,None,F3,8,400,None,None,None,None,0,None,None,0,None,None,35.00
18,None,F4,4.5,200,None,None,None,None,0,None,None,0,None,None,35.08
19,None,F2,.8,100,None,None,None,None,0,None,None,0,None,None,34.55

In [11]:
sample_df.iloc[:, 45:]

   BEGIN_LON END_LAT  END_LON EPISODE_NARRATIVE EVENT_NARRATIVE DATA_SOURCE
0     -99.20   35.17   -99.20              None            None         PUB
1     -98.60   31.73   -98.60              None            None         PUB
2     -75.70   40.65   -75.47              None            None         PUB
3     -76.75    None     None              None            None         PUB
4     -79.68    None     None              None            None         PUB
5     -75.00    None     None              None            None         PUB
6     -76.12   40.27   -76.07              None            None         PUB
7     -76.07   40.40   -75.93              None            None         PUB
8     -96.25   35.07   -96.17              None            None         PUB
9     -95.85    None     None              None            None         PUB
10   -102.52   36.88  -102.30              None            None         PUB
11    -98.03   40.20   -97.98              None            None         PUB
12    -97.60    None     None              None            None         PUB
13    -95.75    None     None              None            None         PUB
14    -97.02    None     None              None            None         PUB
15    -95.83    None     None              None            None         PUB
16    -99.28   35.00   -99.20              None            None         PUB
17    -99.20   35.12   -99.20              None            None         PUB
18    -96.40   35.13   -96.35              None            None         PUB
19    -96.20    None     None              None            None         PUB

In [12]:
# calculate summary statistics of each column again
summarize_df = con.sql("SUMMARIZE storm_events").df()

summarize_df

,column_name,column_type,min,max,approx_unique,avg,std,q25,q50,q75,count,null_percentage
0,BEGIN_YEARMONTH,VARCHAR,195001,202402,893,NaN,NaN,NaN,NaN,NaN,1870438,0.00
1,BEGIN_DAY,VARCHAR,1,9,31,NaN,NaN,NaN,NaN,NaN,1870438,0.00
2,BEGIN_TIME,VARCHAR,0,959,1413,NaN,NaN,NaN,NaN,NaN,1870438,0.00
3,END_YEARMONTH,VARCHAR,195001,202402,893,NaN,NaN,NaN,NaN,NaN,1870438,0.00
4,END_DAY,VARCHAR,1,9,31,NaN,NaN,NaN,NaN,NaN,1870438,0.00
5,END_TIME,VARCHAR,0,959,1413,NaN,NaN,NaN,NaN,NaN,1870438,0.00
6,EPISODE_ID,VARCHAR,1,99999,371735,NaN,NaN,NaN,NaN,NaN,1870438,12.42
7,EVENT_ID,VARCHAR,10,9999999,1835169,NaN,NaN,NaN,NaN,NaN,1870438,0.00
8,STATE,VARCHAR,ALABAMA,WYOMING,70,NaN,NaN,NaN,NaN,NaN,1870438,0.00
9,STATE_FIPS,VARCHAR,1,99,70,NaN,NaN,NaN,NaN,NaN,1870438,0.00
10,YEAR,VARCHAR,1950,2024,75,NaN,NaN,NaN,NaN,NaN,1870438,0.00
11,MONTH_NAME,VARCHAR,April,September,12,NaN,NaN,NaN,NaN,NaN,1870438,0.00
12,EVENT_TYPE,VARCHAR,Astronomical Low Tide,Winter Weather,71,NaN,NaN,NaN,NaN,NaN,1870438,0.00
13,CZ_TYPE,VARCHAR,C,Z,3,NaN,NaN,NaN,NaN,NaN,1870438,0.00
14,CZ_FIPS,VARCHAR,0,99,657,NaN,NaN,NaN,NaN,NaN,1870438,0.00
15,CZ_NAME,VARCHAR,5NM E OF FAIRPORT MI TO ROCK ISLAND PASSAGE,Ziebach,5804,NaN,NaN,NaN,NaN,NaN,1870438,0.08
16,WFO,VARCHAR,$AC,YUM,539,NaN,NaN,NaN,NaN,NaN,1870438,6.71
17,BEGIN_DATE_TIME,VARCHAR,01-APR-00 00:00:00,31-OCT-99 23:30:00,1019222,NaN,NaN,NaN,NaN,NaN,1870438,0.00
18,CZ_TIMEZONE,VARCHAR,AKST-9,UNK,28,NaN,NaN,NaN,NaN,NaN,1870438,0.00
19,END_DATE_TIME,VARCHAR,01-APR-00 00:05:00,31-OCT-99 23:59:00,1004330,NaN,NaN,NaN,NaN,NaN,1870438,0.00
20,INJURIES_DIRECT,VARCHAR,0,98,202,NaN,NaN,NaN,NaN,NaN,1870438,0.00
21,INJURIES_INDIRECT,VARCHAR,0,90,63,NaN,NaN,NaN,NaN,NaN,1870438,0.00
22,DEATHS_DIRECT,VARCHAR,0,97,58,NaN,NaN,NaN,NaN,NaN,1870438,0.00
23,DEATHS_INDIRECT,VARCHAR,0,9,17,NaN,NaN,NaN,NaN,NaN,1870438,0.00
24,DAMAGE_PROPERTY,VARCHAR,.01K,K,3091,NaN,NaN,NaN,NaN,NaN,1870438,30.75
25,DAMAGE_CROPS,VARCHAR,.01K,M,1530,NaN,NaN,NaN,NaN,NaN,1870438,36.58
26,SOURCE,VARCHAR,911 Call Center,WLON,75,NaN,NaN,NaN,NaN,NaN,1870438,17.86
27,MAGNITUDE,VARCHAR,.00,999,639,NaN,NaN,NaN,NaN,NaN,1870438,42.63
28,MAGNITUDE_TYPE,VARCHAR,E,MS,6,NaN,NaN,NaN,NaN,NaN,1870438,73.83
29,FLOOD_CAUSE,VARCHAR,Dam / Levee Break,Planned Dam Release,7,NaN,NaN,NaN,NaN,NaN,1870438,94.02
30,CATEGORY,VARCHAR,1,5,5,NaN,NaN,NaN,NaN,NaN,1870438,99.97
31,TOR_F_SCALE,VARCHAR,EF0,F5,13,NaN,NaN,NaN,NaN,NaN,1870438,96.02
32,TOR_LENGTH,VARCHAR,.1,96.7,2221,NaN,NaN,NaN,NaN,NaN,1870438,85.51
33,TOR_WIDTH,VARCHAR,.1,990,470,NaN,NaN,NaN,NaN,NaN,1870438,85.51
34,TOR_OTHER_WFO,VARCHAR,ABQ,VEF,91,NaN,NaN,NaN,NaN,NaN,1870438,99.83
35,TOR_OTHER_CZ_STATE,VARCHAR,AL,WY,42,NaN,NaN,NaN,NaN,NaN,1870438,99.83
36,TOR_OTHER_CZ_FIPS,VARCHAR,001,820,200,NaN,NaN,NaN,NaN,NaN,1870438,99.83
37,TOR_OTHER_CZ_NAME,VARCHAR,ACADIA,YUMA,916,NaN,NaN,NaN,NaN,NaN,1870438,99.83
38,BEGIN_RANGE,VARCHAR,0,99,163,NaN,NaN,NaN,NaN,NaN,1870438,44.82
39,BEGIN_AZIMUTH,VARCHAR,E,to,29,NaN,NaN,NaN,NaN,NaN,1870438,56.51
40,BEGIN_LOCATION,VARCHAR,& Butler Road,western part,62801,NaN,NaN,NaN,NaN,NaN,1870438,43.33
41,END_RANGE,VARCHAR,0,99,159,NaN,NaN,NaN,NaN,NaN,1870438,44.83
42,END_AZIMUTH,VARCHAR,E,to,19,NaN,NaN,NaN,NaN,NaN,1870438,57.20
43,END_LOCATION,VARCHAR,(01R)AFB GNRY RNG AL,windows were blown ou,52261,NaN,NaN,NaN,NaN,NaN,1870438,45.43
44,BEGIN_LAT,VARCHAR,-14.1326,97.1,127005,NaN,NaN,NaN,NaN,NaN,1870438,38.76
45,BEGIN_LON,VARCHAR,-100,171.3661,172806,NaN,NaN,NaN,NaN,NaN,1870438,38.76
46,END_LAT,VARCHAR,-14.1,97.1,133402,NaN,NaN,NaN,NaN,NaN,1870438,48.25
47,END_LON,VARCHAR,-100,171.3661,190005,NaN,NaN,NaN,NaN,NaN,1870438,48.25
48,EPISODE_NARRATIVE,VARCHAR,"""Black ice"" caused at least 15 traffic acciden...",winds knocked out power lines...heavy rain and...,238905,NaN,NaN,NaN,NaN,NaN,1870438,25.41
49,EVENT_NARRATIVE,VARCHAR,!5th Avenue and 61st Street,|Up to one and a half inches of rain fell over...,850949,NaN,NaN,NaN,NaN,NaN,1870438,46.39
50,DATA_SOURCE,VARCHAR,CSV,PUB,4,NaN,NaN,NaN,NaN,NaN,1870438,0.00

In [13]:
# we want to cast columns to their correct dtype, select only desired columns, clean up the dollar values
# and finally save file as Parquet
# notice we are only interested in records where property damage not null

query = """
    SELECT
        CAST(EVENT_ID AS INTEGER) AS EVENT_ID,
        STATE,
        CAST(STATE_FIPS AS INTEGER) AS STATE_FIPS,
        CAST(YEAR AS INTEGER) AS YEAR,
        MONTH_NAME,
        EVENT_TYPE,
        CZ_TYPE,
        CAST(CZ_FIPS AS INTEGER) AS CZ_FIPS,
        CZ_NAME,
        WFO,
        BEGIN_DATE_TIME,
        END_DATE_TIME,
        CAST(INJURIES_DIRECT AS INTEGER) AS INJURIES_DIRECT,
        CAST(INJURIES_INDIRECT AS INTEGER) AS INJURIES_INDIRECT,
        CAST(DEATHS_DIRECT AS INTEGER) AS DEATHS_DIRECT,
        CAST(DEATHS_INDIRECT AS INTEGER) AS DEATHS_INDIRECT,
        DAMAGE_PROPERTY,
        DAMAGE_CROPS,
        SOURCE,
        CASE 
            WHEN RIGHT(DAMAGE_PROPERTY, 1) = 'K' AND LEN(DAMAGE_PROPERTY) > 1
                THEN CAST(SUBSTRING(DAMAGE_PROPERTY, 1, LENGTH(DAMAGE_PROPERTY) - 1) AS DOUBLE) * 1000
            WHEN RIGHT(DAMAGE_PROPERTY, 1) = 'M' AND LEN(DAMAGE_PROPERTY) > 1
                THEN CAST(SUBSTRING(DAMAGE_PROPERTY, 1, LENGTH(DAMAGE_PROPERTY) - 1) AS DOUBLE) * 1000000
            ELSE 0
            END AS DAMAGE_PROPERTY_CONVERTED

    FROM
        storm_events
    WHERE
        DAMAGE_PROPERTY NOT NULL
"""

con.sql(query).write_parquet("data/storm-events.parquet")

In [14]:
ls data/

raw/                  storm-events.parquet

In [15]:
# sanity check our data

# create a DuckDB database instance
con = duckdb.connect()

# create table of the claims dataset
con.sql(
    """
    CREATE TABLE storm_events AS
    FROM read_parquet('data/storm-events.parquet')
    """
)

# examine count of rows
con.sql("SELECT COUNT(*) AS count_rows FROM storm_events").show()

┌────────────┐
│ count_rows │
│   int64    │
├────────────┤
│    1295193 │
└────────────┘

In [16]:
# sanity check out damage property columns
summarize_df = (
    con
    .sql("SUMMARIZE SELECT EVENT_TYPE, DAMAGE_PROPERTY, DAMAGE_PROPERTY_CONVERTED FROM storm_events")
    .df()
)

summarize_df

,column_name,column_type,min,max,approx_unique,avg,std,q25,q50,q75,count,null_percentage
0,EVENT_TYPE,VARCHAR,Astronomical Low Tide,Winter Weather,70,None,None,None,None,None,1295193,0.0
1,DAMAGE_PROPERTY,VARCHAR,.01K,K,3091,None,None,None,None,None,1295193,0.0
2,DAMAGE_PROPERTY_CONVERTED,DOUBLE,0.0,950000000.0,2164,222760.43361035068,7243742.210315917,0.0,0.0,2007.3849283328711,1295193,0.0

In [17]:
# sanity check out damage property columns and assign to damage_df
damage_df = (
    con
    .sql("SELECT EVENT_TYPE, DAMAGE_PROPERTY, DAMAGE_PROPERTY_CONVERTED FROM storm_events")
    .df()
)

damage_df

                       EVENT_TYPE DAMAGE_PROPERTY  DAMAGE_PROPERTY_CONVERTED
0                         Tornado            250K                   250000.0
1                         Tornado             25K                    25000.0
2                         Tornado             25K                    25000.0
3                         Tornado            2.5K                     2500.0
4                         Tornado            2.5K                     2500.0
...                           ...             ...                        ...
1295188                      Hail           0.00K                        0.0
1295189                      Hail           0.00K                        0.0
1295190                      Hail           0.00K                        0.0
1295191         Thunderstorm Wind          25.00K                    25000.0
1295192  Marine Thunderstorm Wind           0.00K                        0.0

[1295193 rows x 3 columns]

In [18]:
# sanity check out damage property columns
damage_df.loc[damage_df['DAMAGE_PROPERTY'].isnull()]

Empty DataFrame
Columns: [EVENT_TYPE, DAMAGE_PROPERTY, DAMAGE_PROPERTY_CONVERTED]
Index: []

In [19]:
# preview smallest damage property values
damage_df.sort_values(by=['DAMAGE_PROPERTY'])

               EVENT_TYPE DAMAGE_PROPERTY  DAMAGE_PROPERTY_CONVERTED
316976               Hail            .01K                       10.0
321573  Thunderstorm Wind            .01K                       10.0
273108               Hail            .01K                       10.0
235306               Hail            .01K                       10.0
336179               Hail            .01K                       10.0
...                   ...             ...                        ...
341376          High Wind               K                        0.0
341377          High Wind               K                        0.0
341404          High Wind               K                        0.0
341436          High Wind               K                        0.0
319551        Strong Wind               K                        0.0

[1295193 rows x 3 columns]

In [20]:
# preview smallest damage property values where value != K
# note I am treating this as $0 for now
damage_df.loc[damage_df['DAMAGE_PROPERTY'] != 'K'].sort_values(by=['DAMAGE_PROPERTY'])

               EVENT_TYPE DAMAGE_PROPERTY  DAMAGE_PROPERTY_CONVERTED
303250  Thunderstorm Wind            .01K                       10.0
239348  Thunderstorm Wind            .01K                       10.0
239321               Hail            .01K                       10.0
239320               Hail            .01K                       10.0
305166  Thunderstorm Wind            .01K                       10.0
...                   ...             ...                        ...
355711          High Wind              9M                  9000000.0
240596              Flood              9M                  9000000.0
327280               Hail              9M                  9000000.0
241068            Tornado              9M                  9000000.0
256339            Tornado              9M                  9000000.0

[1295149 rows x 3 columns]

In [21]:
# preview largest damage property values
damage_df.sort_values(by=['DAMAGE_PROPERTY_CONVERTED'], ascending=False).head(20)

                  EVENT_TYPE DAMAGE_PROPERTY  DAMAGE_PROPERTY_CONVERTED
1069001            High Wind         950.00M                950000000.0
742882               Tornado         910.00M                910000000.0
1056892            Hurricane         900.00M                900000000.0
608745                  Hail         900.00M                900000000.0
701602                  Hail         900.00M                900000000.0
357187             High Wind            881M                881000000.0
456486   Hurricane (Typhoon)            850M                850000000.0
456495   Hurricane (Typhoon)            850M                850000000.0
1057051            Hurricane         800.00M                800000000.0
926462           Flash Flood         750.00M                750000000.0
926431           Flash Flood         750.00M                750000000.0
1226962            Hurricane         750.00M                750000000.0
926517           Flash Flood         750.00M                750000000.0
926433           Flash Flood         750.00M                750000000.0
926432           Flash Flood         750.00M                750000000.0
384070                 Flood         750.00M                750000000.0
393932          Winter Storm         750.00M                750000000.0
926434           Flash Flood         750.00M                750000000.0
970949           Flash Flood         750.00M                750000000.0
1226852     Storm Surge/Tide         750.00M                750000000.0

In [22]:
# create a DuckDB database instance
con = duckdb.connect("data/storm-events.db")

# create table of the claims dataset
con.sql(
    """
    CREATE TABLE storm_events AS
    FROM read_parquet('data/storm-events.parquet')
    """
)

# examine count of rows
con.sql("SELECT COUNT(*) AS count_rows FROM storm_events").show()

┌────────────┐
│ count_rows │
│   int64    │
├────────────┤
│    1295193 │
└────────────┘

In [23]:
con.close()